#dark-toast {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40%;
    background: #333;
    z-index: 1000;
    padding: 5px 10px;
    background: rgba(29, 29, 29, 0.73);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    min-width: 100px;
    pointer-events: none; // 点击穿透
    i {
        font-size: 40px;
        display: block;
        &.rotate-loop {
            animation: rotate-loop 1s infinite;
        }
    }
}
@keyframes rotate-loop {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
