#dark-toast {
  top: 40%;
  left: 50%;
  max-width: 40%;
  z-index: 100;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  color: #6e6565;
  pointer-events: none;
  position: fixed;
  transform: translateX(-50%);
  background-color: #ffffee;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  .dark-toast-box {
    display: flex;
    align-items: center;
    .icon{
        margin-right: 10px;
    }
  }
}
