@import '../../config.scss';
.blog_navbar {
    top: 0;
    left: 0;
    color: #333;
    width: 100%;
    height: 60px;
    position: sticky;
    font-size: 21px;
    font-weight: 700;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
    animation: fadeIn 1s backwards;
    border-bottom: 1px solid #cecece;
    &_content {
        display: flex;
        margin: 0 auto;
        position: relative;
        justify-content: left;
    }
    &_item {
        height: 100%;
        cursor: pointer;
        padding: 0 15px;
        margin: 0 20px;
        line-height: 60px;
        position: relative;
        &:hover {
            color: #57aeff;
            .hover_line {
                width: 100%;
                height: 3px;
            }
        }
    }
    .hover_line {
        left: 50%;
        bottom: 0;
        width: 0;
        height: 0;
        position: absolute;
        transition: all 0.2s;
        transform: translateX(-50%);
        background-color: #57aeff;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotateAni {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
