@import '../../config.scss';
.blog_navbar {
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 60px;
    position: sticky;
    font-size: 21px;
    font-weight: 700;
    overflow: hidden;
    background-color: #171f26;
    font-family: Microsoft JhengHei;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s backwards;
    &_content {
        width: 1200px;
        display: flex;
        margin: 0 auto;
        position: relative;
        justify-content: center;
    }
    &_logo {
        left: 0;
        top: 5px;
        height: 50px;
        cursor: pointer;
        position: absolute;
        &:hover {
            animation: rotateAni 0.8s linear infinite;
        }
        img {
            height: 100%;
        }
    }
    &_item {
        height: 100%;
        cursor: pointer;
        padding: 0 15px;
        margin: 0 20px;
        line-height: 60px;
        position: relative;
        &:hover {
            color: #57aeff;
            .hover_line {
                width: 100%;
                height: 3px;
            }
        }
    }
    .hover_line {
        left: 50%;
        top: 0;
        width: 0;
        height: 0;
        position: absolute;
        transform: translateX(-50%);
        background-color: #57aeff;
        transition: all 0.2s;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotateAni {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
