@import '../../config.scss';
.blog_navbar {
  color: #333;
  width: 100%;
  height: 60px;
  font-size: 21px;
  font-weight: 700;
  z-index: 100;
  box-sizing: border-box;
  font-family: Microsoft JhengHei;
  animation: fadeIn 1s backwards;
  border-bottom: 1px solid #cecece;
  &_content {
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: left;
  }
  &_item {
    height: 100%;
    cursor: pointer;
    padding: 0 15px;
    margin: 0 20px;
    line-height: 60px;
    z-index: 9;
    position: relative;
    &.sel {
      color: $color;
    }
    &:hover {
      color: $color;
      .hover_line {
        width: 100%;
        height: 3px;
      }
      .icon {
        fill: $color !important;
        transform: rotate(180deg);
      }
    }
    .icon {
      fill: #333 !important;
      transition: 0.2s;
    }
  }
  &_sub {
    left: 0;
    top: 60px;
    color: #333;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }
  &_subitem {
    text-align: left;
    line-height: 2em;
    &:hover {
      color: $color;
    }
  }
  .hover_line {
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0;
    position: absolute;
    transition: all 0.2s;
    transform: translateX(-50%);
    background-color: $color;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateAni {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
