p {
    margin: 0;
}
body {
    color: #575757;
    min-width: 1200px;
    background-color: #ececec;
    font-family: Microsoft JhengHei;
}
// 文本无法选择复制
.noselect {
    user-select: none;
}
// 文本内容为英文
.english {
    font-family: microsoft yahei;
}
.content {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
