p {
    margin: 0;
}
body {
    color: #575757;
}
// 文本无法选择复制
.noselect {
    user-select: none;
}
.blog {
    display: flex;
}
.blog_content {
    width: 80%;
}
//iconfont图标样式
.icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    cursor: pointer;
    vertical-align: -0.15em;
    &:hover {
        fill: #333!important;
    }
}
