@import '../../base.scss';
.blog_banner {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    @extend .noselect;
    &_text {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 36px;
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        p {
            margin-bottom: 30px;
            animation: textAni 0.8s ease-in-out;
        }
    }
    &_btn {
        cursor: pointer;
        font-size: 0;
        overflow: hidden;
        position: relative;
        rect {
            width: 100px;
            height: 48px;
            fill: transparent;
            animation: rectAni 0.8s ease-in-out 0.3s backwards;
        }
        svg:nth-child(2){
            left: 0;
            top: 0;
            position: absolute;
            animation: textAni .9s ease-in-out .3s backwards;
        }
        text {
            font-size: 18px;
        }
    }
    &_circle {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    @keyframes textAni {
        0% {
            opacity: 0;
            transform: translateY(-70px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes rectAni {
        0% {
            stroke-dashoffset: 380;
            stroke-dasharray: 20, 20, 20, 600;
        }
        50% {
            stroke-dashoffset: 190;
            stroke-dasharray: 20, 20, 20, 300;
        }
        100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 360;
        }
    }
}
